[Unit]
Description=Run disk monitor daily at 03:30 AM

[Timer]
OnBootSec=55min
OnCalendar=*-*-* 03:30:00
RandomizedDelaySec=5min
Persistent=true
Unit=disk_monitor.service

[Install]
WantedBy=timers.target