[Unit]
Description=Run disk monitor daily at 10:00 AM

[Timer]
OnBootSec=45min
OnCalendar=*-*-* 10:00:00
RandomizedDelaySec=5min
Persistent=true
Unit=disk_monitor.service

[Install]
WantedBy=timers.target